<p>hero works!</p>

<h1> Componente hero</h1>
<ul>
    <dt> Nombre: </dt>
    <dd> {{ nombre }} </dd>
    <dt> Edad: </dt>
    <dd> {{ edad }} </dd>
    <dt> Método: </dt>
    <dd>  {{ dimeDescripcion() }}  </dd>
    <dt> En mayúsculas: </dt>
    <dd>  {{ nombreEnMayusculas }}  </dd>

<input type="button"
*ngIf="nombre ==='ironman'"
 value="Cambiar nombre" 
 class="btn btn-primary mx-2"
 (click)="cambiarNombre()">

<input type="button" 
*ngIf="edad ===45"
value="Cambiar edad" 
class="btn btn-primary mx-2"
(click)="cambiarEdad()">

<input type="button" 
value="Reset" 
class="btn btn-primary mx-2"
(click)="reset()">


</ul>